.currentMusicImage {
    width: 100%;
    height: 272px;
}
label {
    font-size: 13px;
    font-weight: 600;
    /* padding-top: 8px; */
    letter-spacing: 1px;
}
.currentMusicProgress {
    position: fixed;
    padding-bottom: 15px;
    bottom:0px;
    left: 0;
    right: 0;
    z-index: 1000 !important;
    background: #fff;
    border-top: 1px solid gray;
    box-shadow: -3px -7px 11px -3px lightgrey;
}
.fa-repeat {
    position: absolute;
    left: 0;
    margin-top: 18px;
    font-size: 20px;
}
.fa-heart {
    position: absolute;
    right: 26px;
    margin-top: 18px;
    font-size: 20px;
}
.item-native {
    border: 0
}
.fa {
    margin-left: 33px;
    color: #173f5f;
}
.currentMusicControls {
    font-size: 31px;
    margin-top: 30px;
}
.timelabels .item-inner{
    border: none;
   padding-top:10px
}
.currentTime {
    float: left;
    padding: 10px;
    font-size: 16px;
}
.durationTime {
    float: right;
    padding: 10px;
    font-size: 16px;
}
.profile{
    padding:0;
    text-align:center
}
#shadow-root div{
    padding:0px
}
.albumname {
    font-size: 12px
}
.close-btn {
    position: fixed;
    top: 20px;
    /* bottom: 0; */
    /* left: 0; */
    right: 20px;
    color: #fff;
    font-size: 30px;
}
.currentimages{
    margin:6px
}
.panel{
    margin-bottom:0px;
}
.musicList{
    margin-bottom:95px;
}
.songname{
    width:183px;
}
.panel{
    border:0px;
}
.currentsong {
    width: 100%;
    height: 300px;
}