
<ion-content padding>
    <div class="profile">
        <div class="">
            <a><img [src]="songImage" class="currentMusicImage"></a>
            <div class="songname">{{songInfo.tags.title}}</div>
            <div class="albumname">{{songInfo.tags.album}}</div>
        </div>
        <audio #audioOption>
            <source [src]="audiourl" type="audio/ogg">
            </audio>
    </div>
    <div class="currentMusicProgress">
        <ion-progress-bar [value]="progressbarValue" (click)="setProgressBarValue($event)"></ion-progress-bar>
        <div class="timelabels">
            <ion-label slot="start" class="currentTime">{{currentTime}}</ion-label>
            <ion-label slot="end" class="durationTime">{{remainingTime}}</ion-label>
        </div>
        <div class="col-xs-offset-3 currentMusicControls">
            <span class="fa fa-repeat" [ngStyle]="currentSongloop && {'color': '#e31b23'}" (click)="setloop()">
            </span>
            <span class="fa fa-step-backward" (click)="movesongBackword()">
            </span>
            <span *ngIf="!playing" class="fa fa-play" (click)="playSong()">
            </span>
            <span class="fa fa-pause" *ngIf="playing" (click)="pauseSong()">
            </span>
            <span class="fa fa-step-forward">
            </span>
            <span class="fa fa-heart" [ngStyle]="currentSongloop && {'color': '#e31b23'}">
            </span>
        </div>
    </div>
</ion-content>
