<ion-header>
    <ion-toolbar>
        <ion-title>
            Profile
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="container-fluid updateDiv">
        <form (ngSubmit)="onUpdate(updateForm.value)" #updateForm="ngForm">
            <div class="col-xs-12 image">
                <div class="dropdown">
                    <img *ngIf="!user.propic" src="../../assets/images/user.png" class="img-circle profilepic" width="60" height="60" />
                    <img *ngIf="user.propic" [src]="pic" class="profilepic img-circle" width="60" height="60" />

                    <label class="fa fa-plus dropdown-toggle" data-toggle="dropdown">
                    </label>
                    <div class="dropdown-menu">
                        <label class="dropdown-item" for="userpic">choose from gallery <i class="fa fa-picture-o"></i></label><br />
                        <label class="dropdown-item" (click)="takePicture()">open camera <i class="fa fa-camera"> </i></label>
                        <input type="file" id="userpic" name="userpic" (change)="onImageChange($event)" hidden />
                    </div>
                  

                </div>
            </div>
            <div class="form-input">
                <div class="form-group col-xs-12" style="margin-top:20px">
                    <input type="text"  class="form-control" name="username" (input)="changeUsername($event.target.value)" [(ngModel)]="this.user.username"/>
                </div>
                <div class="form-group col-xs-12">
                    <input type="Number"  class="form-control" name="contact" [(ngModel)]="this.user.contact"/>
                </div>
                <div class="form-group col-xs-12">
                    <input type="text"  class="form-control" name="email" [(ngModel)]="this.user.email" />
                </div>
                <div class="form-group col-xs-12">
                    <input type="text" value="male" class="form-control" name="male" />
                </div>
            </div>
            <div><button type="submit" class="btn btn-success" >UPDATE <i class="fa fa-refresh fa-spin" *ngIf="loading"></i></button></div>
        </form>
    </div>
    <button class="logout" (click)="logout()">Logout <i class="fa fa-sign-out"></i></button>
     <button class="logout" (click)="navigateToUploadSongs()">upload Song</button>

</ion-content>
