<ion-header>
    <ion-toolbar>
        <ion-title style="float: left;font-size: 15px;">{{greet}}, {{user.username}}</ion-title>
        <img *ngIf="!user.propic" src="../../assets/images/user.png" class="img-circle userpic" (click)="navigateToProfile()" width="30" height="30" />
        <img *ngIf="user.propic" [src]="pic" class="img-circle userpic" (click)="navigateToProfile()" width="30" height="30" />
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let category of allSongs | keyvalue" class="col-md-8 tab1" style="padding-left:0px;">
        <h5 class="sideheading">{{category.key}}</h5>
        <div class="scrollX">
            <div *ngFor="let song of category.value;" class="panel panel-default" style="padding-left:0px;padding-right:0px;width:113px">
                <div class="profile" id="audios" (click)="updatedCurrentSong(song.tags.title, category.value)">
                    <div class=""><img [src]="song.image" class="" height="100" style="float:left;max-width: 120px;width: 112px;"></div>
                    <label class="songtitle songname">{{song.title}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <h5 class="sideheading">select your Mood</h5>
            <div *ngFor="let song of mood;let i= index" class="col-xs-5 moodcard panel panel-default" style="border:1px solid #000" [style.border-color]="getColor(i)" [style.color]="getColor(i)">
                {{song}}
            </div>
        </div>
    <div *ngIf="currentsong" class="pnls panel panel-default handleMusic">
        <img  [src]="currentsong.image" class="currentMusicBottomPic">
        <label class="songtitleBottom" (click)="openCurrentMusic()">{{currentsong.fulltitle}}</label>
        <i *ngIf="!playing" class="fa fa-play" style="font-size:20px" (click)="handleSong()"></i>
        <i *ngIf="playing" class="fa fa-pause " style="font-size:20px" (click)="handleSong()"></i>
    </div>

<!--current Music page starts-->
    <div *ngIf="currentMusicPageView">
        <div class="currentMusicProgress">
            <div class="currentMusicLibrarys" [ngStyle]="{'height':clientHeight}">
                <div class="profile">
                    <div class="currentsong">
                        <img *ngIf="currentsong" [src]="currentsong.image" class="currentMusicImage" [ngStyle]="{'height':imgHeight}">
                        <span class="close-btn" (click)="navigateToHome()">X</span>
                        <label *ngIf="currentsong" class="songname">{{currentsong.fulltitle}}</label>
                        <div *ngIf="currentsong" class="albumname">{{currentsong.tags.album}}</div>
                    </div>
                </div>
                <div class="musicList">
                    <div *ngFor="let song of currentsonglist" class="pnls pnl panel panel-default">
                        <div *ngIf="currentsong"  class="" [ngStyle]="{'color': song.title === currentsong.title ? '#428bca' : '#000' }">
                            <div class="col-xs-2 col-sm-1" style="padding:0px;width:12%"><img [src]="song.image" class="currentimages" width="30" height="30"></div>
                            <div class="col-xs-6 col-sm-7" style="padding:0px">
                                <label *ngIf="song" (click)="updateCurrentSong(song)" class="songname">{{song.fulltitle}}</label>
                                </div>
                                <div class="dropdown col-xs-4 col-sm-4" style="padding:0px">
                                    <i class="dropdown-toggle fa fa-ellipsis-v" data-toggle="dropdown" style="float:right"></i>
                                    <i class="fa fa-arrow-down" (click)="downloadSong(song.tags.title)" style="float:right"></i>
                                    <img *ngIf="song.title === currentsong.title && playing" src="../../assets/images/imageedit_18_4251367136.gif" class="currentplayingsongGif giphy-embed" width="24" height="27" />
                                    <img *ngIf="song.title === currentsong.title && !playing" src="../../assets/images/Capture.PNG" class="currentplayingsongGif giphy-embed" width="24" height="30" />
                                    <ul class="dropdown-menu">
                                        <li><a (click)="addToAudioQueue(song)">Add to Queue</a></li>
                                        <li><a (click)="removeFromAudioQueue(song)">Remove from queue</a></li>
                                        <li><a (click)="clearAudioQueue()">clear queue</a></li>
                                        <li><a (click)="removeFromCurrentplaylist(song)">Remove from playlist</a></li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="currentMusicFullControls">
            <div class="progressbar">
                    <ion-progress-bar [value]="progressbarValue" (click)="setProgressBarValue($event)"></ion-progress-bar>
                    <div class="timelabels">
                        <ion-label slot="start" class="currentTime">{{currentTime}}</ion-label>
                        <ion-label slot="end" class="durationTime">{{remainingTime}}</ion-label>
                    </div>
                </div>
            <div class="currentMusicControls">
                <div class="col-xs-2 col-sm-2 ">
                    <span class="fa fa-random" [ngStyle]="{'color': shuffle ? '#428bca' : 'lightgray' }" (click)="setloop()">
                    </span>
                   </div>
                <div class=" musicControl col-xs-8 col-sm-8">
                        <span class="fa fa-step-backward" (click)="playPreviousSong()">
                        </span>
                        <span *ngIf="!playing" class="fa fa-play fplay" (click)="handleSong()">
                        </span>
                        <span class="fa fa-pause fplay" *ngIf="playing" (click)="handleSong()">
                        </span>
                        <span class="fa fa-step-forward" (click)="playNextSong()">
                        </span>
                    </div>
                    <div class="col-xs-2 col-sm-2 ">
                        <span class="fa fa-heart" [ngStyle]="favouriteSong && {'color': '#e31b23'}" (click)="addFavouriteSong(currentsong.tags.title)">
                        </span>
                    </div>
                </div>
            </div>
            </div>
            </div>
          
</ion-content>

