<ion-header>
    <ion-toolbar>
        <ion-title>Hi, {{user.username}}</ion-title>
        <img *ngIf="!user.propic" src="../../assets/images/user.png" class="img-circle userpic" (click)="navigateToProfile()" width="30" height="30" />
        <img *ngIf="user.propic" [src]="pic" class="img-circle userpic" (click)="navigateToProfile()" width="30" height="30" />
    </ion-toolbar>
</ion-header>
<ion-content>
    <div *ngFor="let category of allSongs;let i = index" class="col-md-8 tab1" style="padding-left:0px;">
        <h5 class="sideheading">{{headings[i]}}</h5>
        <div class="scrollX">
            <div *ngFor="let song of category;" class="panel panel-default" style="padding-left:0px;padding-right:0px;width:113px">
                <div class="profile" id="audios" (click)="uploadRecentSong(song.tags.title)" routerLink="/currentmusic/{{song.tags.title}}">
                    <div class=""> <a><img [src]="song.image" class="" height="100" style="float:left;max-width: 120px;width: 112px;"></a></div>
                    <label class="songtitle songname">{{song.title}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <h5 class="sideheading">select your Mood</h5>
            <div *ngFor="let song of mood;let i= index" class="col-xs-5 moodcard panel panel-default" [style.background]="getColor(i)">
                {{song}}
            </div>
        </div>
</ion-content>

